.main {
  text-align: center;
  margin-top: 100px;
  background: lightblue;
  margin-left: 470px;
  margin-right: 470px;
}

.inner {
  margin-bottom: 100px;
}

.content {
  padding: 150px;
  font-size: 40px;
}
